{% extends "base.html" %}
{% block content %}
  <div id="cpi-chart"></div>
  <div>
    <h2>Analysis</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aut! Fuga in, quaerat ducimus vel, facere doloribus quae esse ex ad velit vero totam sapiente eveniet id repellendus tempora ab.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, repellendus asperiores, saepe tenetur quasi quas vitae culpa doloribus ut enim quaerat magnam perferendis minima quia eaque odit repellat. Vel, dolor?
    </p>
  </div>
{% endblock %}