{% extends "base.html" %}


{% block content %}
  <section>
    <div class="containertable">
      <h1 class="title">Data</h1>
      <h3>The following table includes GDP data by country:</h3>
      <!-- codigo para mostrar la tabla -->
        <iframe width="1000" height="700" src="{{ url_for('gdpdata') }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
    {% for post in posts %}
  <!--  <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div> -->
    {% endfor %}
{% endblock %}

    