<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Region</th>
      <th>Country Code</th>
      <th>Country Name</th>
      <th>Approval Date</th>
      <th>Approval FY</th>
      <th>Sector Board</th>
      <th>Lending Project Cost</th>
      <th>Net Commitment</th>
      <th>Deactivation Date</th>
      <th>Lending Instrument</th>
      <th>Product Line Code</th>
      <th>Product Line</th>
      <th>IEG_Outcome</th>
      <th>IEG_SourceDocumentURL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>P000001</td>
      <td>3A-CB Nat Res &amp; Wildlife Mgmt SIL (FY96)</td>
      <td>AFR</td>
      <td>3A</td>
      <td>Africa</td>
      <td>9/14/1995</td>
      <td>1996</td>
      <td>Environment</td>
      <td>7000000</td>
      <td>-31988.17</td>
      <td>6/30/2004</td>
      <td>SIL</td>
      <td>GE</td>
      <td>Global Environment Project</td>
      <td>Unsatisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E00686037852570450042D882?OpenDocument</td>
    </tr>
    <tr>
      <th>1</th>
      <td>P000003</td>
      <td>REIMP(CEN.ENV.INFO)</td>
      <td>AFR</td>
      <td>3A</td>
      <td>Africa</td>
      <td>12/18/1997</td>
      <td>1998</td>
      <td>Environment</td>
      <td>19700000</td>
      <td>0</td>
      <td>6/30/2003</td>
      <td>SIL</td>
      <td>GE</td>
      <td>Global Environment Project</td>
      <td>Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E0068603785256EC300448F61?OpenDocument</td>
    </tr>
    <tr>
      <th>2</th>
      <td>P000010</td>
      <td>BOAD</td>
      <td>AFR</td>
      <td>3A</td>
      <td>Africa</td>
      <td>2/1/1990</td>
      <td>1990</td>
      <td>Financial Sector</td>
      <td></td>
      <td>44669376.09</td>
      <td>12/31/1997</td>
      <td>FIL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Moderately Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525679B0071774D8525664A0061F8C8?OpenDocument</td>
    </tr>
    <tr>
      <th>3</th>
      <td>P000017</td>
      <td>3A-TG/BN Engineering TAL (FY92)</td>
      <td>AFR</td>
      <td>3A</td>
      <td>Africa</td>
      <td>5/19/1992</td>
      <td>1992</td>
      <td>Energy and Mining</td>
      <td>6100000</td>
      <td>5500000</td>
      <td>12/30/1999</td>
      <td>TAL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Unsatisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E006860378525690000435F36?OpenDocument</td>
    </tr>
    <tr>
      <th>4</th>
      <td>P000034</td>
      <td>INFRASTRUCTURE REHAB</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>7/16/1991</td>
      <td>1992</td>
      <td>Transport</td>
      <td>32100000</td>
      <td>30704714</td>
      <td>3/31/1999</td>
      <td>TAL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Moderately Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E00686037852568D300019963?OpenDocument</td>
    </tr>
    <tr>
      <th>5</th>
      <td>P000035</td>
      <td>LOBITO/BENG.REHAB.</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>1/7/1992</td>
      <td>1992</td>
      <td>Urban Development</td>
      <td>65000000</td>
      <td>45600000</td>
      <td>9/28/2001</td>
      <td>SIM</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E0068603785256A7C005752E4?OpenDocument</td>
    </tr>
    <tr>
      <th>6</th>
      <td>P000037</td>
      <td>ECON FIN MGMT I</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>6/19/1991</td>
      <td>1991</td>
      <td>Economic Policy</td>
      <td>26100000</td>
      <td>23000000</td>
      <td>12/31/1998</td>
      <td>TAL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Unsatisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525679B0071774D852567B500532D83?OpenDocument</td>
    </tr>
    <tr>
      <th>7</th>
      <td>P000040</td>
      <td>POWER SECTOR REHAB.</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>6/11/1992</td>
      <td>1992</td>
      <td>Energy and Mining</td>
      <td>33500000</td>
      <td>18052817.8</td>
      <td>12/30/1999</td>
      <td>SIM</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Unsatisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E006860378525692E00721A8E?OpenDocument</td>
    </tr>
    <tr>
      <th>8</th>
      <td>P000042</td>
      <td>EDUCATION I</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>6/2/1992</td>
      <td>1992</td>
      <td>Education</td>
      <td>27100000</td>
      <td>27100000</td>
      <td>9/30/1999</td>
      <td>SIL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E00686037852568C10053F9F3?OpenDocument</td>
    </tr>
    <tr>
      <th>9</th>
      <td>P000044</td>
      <td>FINANCIAL INSTITUTIO</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>9/3/1992</td>
      <td>1993</td>
      <td>Financial and Private Sector Development</td>
      <td>21000000</td>
      <td>21000000</td>
      <td>4/30/2002</td>
      <td>TAL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E0068603785256C77006EC651?OpenDocument</td>
    </tr>
    <tr>
      <th>10</th>
      <td>P000048</td>
      <td>HEALTH</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>5/11/1993</td>
      <td>1993</td>
      <td>Health Nutrition and Population</td>
      <td>22200000</td>
      <td>19900000</td>
      <td>12/30/1999</td>
      <td>SIL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Unsatisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E0068603785256918006E7C5D?OpenDocument</td>
    </tr>
    <tr>
      <th>11</th>
      <td>P000050</td>
      <td>TRANSPORT RECOVERY</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>9/3/1992</td>
      <td>1993</td>
      <td>Transport</td>
      <td>44000000</td>
      <td>41000000</td>
      <td>6/30/2000</td>
      <td>SIL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E00686037852569D900618550?OpenDocument</td>
    </tr>
    <tr>
      <th>12</th>
      <td>P000061</td>
      <td>SOCIAL ACTION</td>
      <td>AFE</td>
      <td>AO</td>
      <td>Angola</td>
      <td>12/21/1995</td>
      <td>1996</td>
      <td>Social Protection</td>
      <td>24000000</td>
      <td>24000000</td>
      <td>6/30/2001</td>
      <td>SIL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Satisfactory</td>
      <td>http://lnweb90.worldbank.org/oed/oeddoclib.nsf/DocUNIDViewForJavaSearch/8525682E0068603785256B5200477A24?OpenDocument</td>
    </tr>
    <tr>
      <th>13</th>
      <td>P000062</td>
      <td>HINVI AGRIC DEVELOPM</td>
      <td>AFR</td>
      <td>BJ</td>
      <td>Benin</td>
      <td>2/18/1969</td>
      <td>1969</td>
      <td>Agriculture and Rural Development</td>
      <td></td>
      <td></td>
      <td>6/30/1978</td>
      <td>SIL</td>
      <td>PE</td>
      <td>IBRD/IDA</td>
      <td>Unsatisfactory</td>
      <td></td>
    </tr>
  </tbody>
</table>