{% extends "base.html" %}


{% block app_content %}
  <section>
    <div class="containertable">
      <h1 class="title">Data</h1>
      <h3>The following table includes the first 100 records scraped from World Bank Project web page</h3>
      <!-- codigo para mostrar la tabla -->
        <iframe width="1200" height="700" src="{{ url_for('main.iegdata') }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
    {% for post in posts %}
  <!--  <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div> -->
    {% endfor %}
{% endblock %}

    